html {
    overflow-y: scroll;
}

body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header-main {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../content/site/img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-header-other {
  padding-top: 25px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

.intro-message {
	position: relative;
	padding-bottom: 3%;
}

.intro-divider {
    width: 400px;
	border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-header-shadow {
	text-shadow:2px 2px #c0c0c0;
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../content/site/img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px #000000;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
	    margin: 0;
	    text-shadow: 2px 2px 3px #000000;
	    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

    ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

#map-container { 
	height: 300px;
	width: 100%;
}


footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}

.hover-pointer:hover {
    cursor: pointer;
}

/* About Page */
.about-intro-message > h1 {
    margin: 0;
	font-size: 5em;
	/*text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);*/
    text-shadow: 5px 2px 2px #323232;
    text-shadow: 5px 2px 2px rgba(50, 50, 50, 1);
}

.about-intro-message > h2 {
    text-shadow: 3px 2px 2px #323232;
    text-shadow: 3px 2px 2px rgba(50, 50, 50, 1);
}

/* Contact Page */
.stacked {
    padding-bottom: 4%;    
}

img.img-responsive {
    margin: 0 auto;
}

my-phone:after {
    content: attr(data-NXX);
}
my-phone:before {
    content: attr(data-NPA);
}

my-email:after {
    content: attr(data-domain);
}

my-email:before {
    content: attr(data-user) "\0040";
}

/* Blog */
.blog-item {
    padding-bottom: 30px;
}

.img-blog-item {
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.pagination :hover {
    cursor: pointer;
}

.pagination-row {
    margin-bottom: 20px;
}

/* ContentNavigator */
.img-text {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: whitesmoke !important;
}