<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tim Jaroch</title>

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/blog.css"/>

</head>

<body ng-controller="blogCtrl">

    <!-- Navigation -->
    <div ng-include="'partials/navigation.html'"></div>
    <!-- End Navigation -->
    <!-- Header -->
    <div class="intro-header-other">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="intro-message">
                        <h1 class="page-header">Jaroch Blog</h1>
                        <h2>A Blog about technology, family, and whatever else comes to mind.</h2>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <!-- End Header -->
    <!-- Projects Row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 blog-item" ng-repeat="post in pages[selectedPage]">
                        <a ng-href="blogPost.html#{{post.index}}" target="_self"><img class="img-responsive img-blog-item" ng-src="{{post.content.image}}"></a>
                        <h3><a ng-href="blogPost.html#{{post.index}}" target="_self">{{post.content.title}}</a></h3>
                        <p>{{post.content.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <hr>
    <!-- End Projects Row -->

    <!-- Pagination -->
    <div class="container-fluid">
        <div class="row text-center">
            Select Page
            <div class="col-lg-12">
                <ul class="pagination">
                    <li ng-show="numPages > 1" ng-click="previousPage()">
                        <a>&laquo;</a>
                    </li>
                    <li ng-repeat="x in pages" ng-class="{active: $index == selectedPage}">
                        <a ng-click="setPage($index)">{{$index + 1}}</a>
                    </li>
                    <li ng-show="numPages > 1" ng-click="nextPage()">
                        <a>&raquo;</a>
                    </li>
                </ul>
         
            </div>
        </div>
        <div class="row text-center">
            Posts per page
            <div class="col-lg-12">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-class="{active: 3 == postsPerPage}" ng-click="setPostsPerPage(3)">3</button>
                    <button type="button" class="btn btn-default" ng-class="{active: 9 == postsPerPage}" ng-click="setPostsPerPage(9)">9</button>
                    <button type="button" class="btn btn-default" ng-class="{active: 27 == postsPerPage}" ng-click="setPostsPerPage(27)">27</button>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- End Pagination -->
    <!-- Google Map -->
    <div id="map-container"></div>

    <!-- Footer -->
    <footer ng-include="'partials/footer.html'"></footer>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="js/googleMapScript.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

</body>

</html>
