<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tim Jaroch</title>

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/default.css"/>
    <link rel="stylesheet" href="css/blog.css" />
    <link rel="stylesheet" href="css/blogPost.css"/>

</head>

<body ng-controller="blogPostCtrl">

    <!-- Navigation -->
    <div ng-include="'partials/navigation.html'"></div>
    <!-- End Navigation -->
    <!-- Header -->
    <div class="intro-header-other">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="intro-message">
                        <h1 class="page-header">Jaroch Blog</h1>
                        <h2>A Blog about technology, family, and whatever else comes to mind.</h2>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <!-- End Header -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div>
                    <h3>{{post.title}}</h3>
                    <p>{{post.date}} by <a ng-bind-html="post.author"></a></p>
                    <div ng-bind-html="post.body"></div>
                </div>
                <nav>
                    <ul class="pager">
                        <li><a class="hover-pointer" ng-click="previousPost()" ng-show="showPrevButton">Prev</a></li>
                        <li><a class="hover-pointer" ng-click="nextPost()" ng-show="showNextButton">Next</a></li>
                    </ul>
                </nav>
                <p class="copyright text-muted small text-center">Copyright &copy; Tim Jaroch 2015. All Rights Reserved</p>
            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>
                <div class="sidebar-module">
                    <h4>Related</h4>
                    <ol class="list-unstyled">
                        <li ng-repeat="x in post.related"><a ng-href="#{{x}}" target="_self">{{getPost(x).title}}</a></li>
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </div><!-- /.container -->

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</body>

</html>
